@media only screen and (width >= 42.5rem){

    /*#region Footer*/
    footer div:nth-child(1){
        display: flex;
    }
    footer div div#footer-logo-container{
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top: 20px;
    }

    div#footer-map-container{
        margin-right: auto;
    }
    
    div.footer-elements{
        justify-content: center;
        padding-bottom: 5px;
    }
    /*#endregion Footer*/

    /*#region Home*/
    main#main-home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    main#main-home img {
        border-radius: 4px;
    }

    section.portal-elements {
        border-radius: 4px;
    }

    section#special-events {
        grid-column: 1 / 3;
    }

    section#call-to-action-element {
        grid-column: 1 / 3;
    }

    section#contact-info {
        grid-column: 1 / 3;
    }

    main#main-home section div:nth-child(1){
        border-radius: 4px 0px 0px 0px;
    }

    main#main-home section#special-events div:nth-child(1){
        width: auto;
        font-size: 20pt;
    }

    main#main-home section#call-to-action-element div:nth-child(1){
        width: auto;
        text-align: right;
        font-size: 20pt;
    }

    main#main-home section#temple-info div:nth-child(1){
        width: auto;
    }

    /*#endregion Home*/

    /*#region Temples*/
        main#main-temple{
            padding: 1% 10%;
        }

        div.cards {
            margin-bottom: 30px;
        }
    /*#endregion Temples*/

    /*#region Services*/
    div#amenities-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    /*#endregion Services*/

    /*#region Reception-info*/
    div#accommodation-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    div#accommodation-info div:nth-child(3){
        grid-column: 1 / 3;
    }
    /*#endregion Reception-info*/

    /*#region Missionary*/
    div#form-elements{
        display: flex;
    }

    div#form-elements div:nth-child(1){
        margin-left: auto;
        margin-right: 10px;
    }

    div#form-elements div:nth-child(2){
        margin-right: auto;
    }

    div#contact-us-container h4 {
        text-align: center;
    }

    input#send-left.send-message{
        margin-top: 25px;
        display: block;
    }

    input#send-right.send-message{
        display: none;
    }

    main#main-missionary{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
    }

    main#main-missionary > h1 {
        grid-column: 1 / 3;
    }

    main#main-missionary div:nth-child(4){
        grid-column: 1/3;
    }

    main#main-missionary div#contact-us-container{
        grid-column: 1 / 3;
    }


    /*#endregion Missionary*/
}